modules = ["python-3.11", "nodejs-20", "java-graalvm22.3", "postgresql-16"]
[agent]
expertMode = true
integrations = ["discord:1.0.0", "javascript_openai_ai_integrations:1.0.0", "twilio:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["chromium", "glibcLocales", "libuuid", "mailutils", "nano", "poppler", "poppler-utils", "q-text-as-data", "try", "gcc-unwrapped"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Nyanbook"

[[workflows.workflow]]
name = "Nyanbook"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node vegapunk.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "vegapunk.js"]

[userenv]

[userenv.shared]
RATE_LIMIT_EXEMPT_IPS = "10.83.9.13"
LIMBO_THREAD_ID = "1433850939751534672"
TWILIO_WEBHOOK_URL = "https://Nyanbook.replit.app/api/twilio/webhook"
NYAN_API_TOKEN = "CEzH8J3CpvL5B-Lvvb8iL1YSoBrxq1zM3YApXKcSknc"
PINATA_JWT = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI4NTM5NDRjZS0zNzFiLTQ1ZDYtOTQ0My1hNTFkNWFkODMyMDAiLCJlbWFpbCI6InBoaV9kYW9AcG0ubWUiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiMTVkMTAxYmFmM2JiMmEzODkxMjAiLCJzY29wZWRLZXlTZWNyZXQiOiIwNzQyNDkzYjFlMzI2NjE4ZGRiYjlmN2Q4OGY2YTVlMjYyNWY1MTRjNGVjODQyOGEyNjcwNjVkNjJhM2JhNmM4IiwiZXhwIjoxODA1MjExODQzfQ.rdR98BTLh4AlIbPqrZE2Td0GMwom3nI20arRUoLABIQ"
